version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - "5432:5432"
    healthcheck:
      # Este comando usa as variáveis do .env automaticamente
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  # Serviço da API (Backend)
  backend:
    build: 
      context: ./backend # Aponta para a pasta onde está o Dockerfile
    volumes:
      - ./backend:/app # Sincroniza seu código local com o container (Hot Reload)
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy # Só inicia a API quando o banco estiver pronto

volumes:
  postgres_data: