# Framework Web
fastapi[standard]
uvicorn
fastapi-mail

# Banco de Dados (ORM Moderno)
sqlmodel       
psycopg[binary] # Driver PostgreSQL

# Configurações
pydantic-settings
email-validator

# Segurança
passlib[bcrypt]
# O bcrypt será instalado automaticamente como dependência compatível

# Uploads
python-multipart

