# Framework Web
fastapi[standard]
uvicorn
fastapi-mail

# Banco de Dados (ORM Moderno)
sqlmodel       
psycopg[binary] # Driver PostgreSQL

# Configurações
pydantic-settings
email-validator

# Segurança
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
# O bcrypt será instalado automaticamente como dependência compatível

# Uploads
python-multipart

