body {
    min-height: 100vh;
    margin: 0;
    background: radial-gradient(circle, #06278F 0%, #0F225C);
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
}

* {
    box-sizing: border-box;
}
